<div class="container">
  <h2>Account Login</h3>
  <form action="/login" method="POST">
    <div class="username-input">
      <input type="text" name="email" id="email" placeholder="Email" required>
    </div>
    <div class="password-input">
      <input type="password" name="password" id="password" minlength="8" placeholder="Password" required>
    </div>
    {{#if loginError}}
    <p class="text-center text-danger">{{loginError}}</p>
    {{/if}}
    <button type="submit" class="btn btn-outline-info">Login</button>
  </form> 
</div>

