<div class="container">
  <h2>Account Login</h3>
  <form action="">
    <div class="username-input">
      <input type="text" name="username" id="username" placeholder="Email" required>
    </div>
    <div class="password-input">
      <input type="password" name="password" id="password" minlength="8" placeholder="Password" required>
    </div>
      
    <button type="submit">Login</button>
  </form>

  
</div>