<div class="container">
  <div class="loginSuccess d-grid">
    <h4>Welcome back, {{ data }} !</h4>
    <a href="/logout" class="btn btn-outline-secondary btn-sm mt-4">Log out</a>
    <a href="/" class="btn btn-outline-secondary btn-sm mt-4"><ion-icon name="home" ></ion-icon></a>
  </div>
</div>
